@page
@model IndexModel
@using League.Models
@{
    ViewData["Title"] = "NFL Teams";
}

<ul>
    @foreach(Conference Conference in Model.Conferences)
    {
        <h2>@Conference.Name</h2> 
        <ul>
            @foreach(Division Division in Model.GetConferenceDivisions(Conference.ConferenceId))
            {
                <h2>@Division.Name</h2>
                <ul>
                    @foreach(Team Team in Model.GetDivisionTeams(Division.DivisionId))
                    {
                        <li>@Team.Name</li>
                    }            
                </ul>
            }
        </ul>
    }
</ul>