@page "{id}"
@model TeamModel
@{
    ViewData["Title"] = "Team View";
}

<div>
    <img src="~/image/nfl/logo/@(Model.Team.TeamId).png" />
    <img src="~/image/nfl/seating/@(Model.Team.TeamId).png" />
    <img src="~/image/nfl/stadium/@(Model.Team.TeamId).png" />
</div>

<section class="grid">
    @foreach (Player Player in Model.Team.Players)
    {
        <a class="d-flex p-1">
           <div>@Player.Name</div> 
        </a>
    }
</section>